<div class="searchtabs__container">
    <div class="searchtabs">
                <ul class="tabs"  data-tabs id="collapsing-tabs">
                        <li class="tabs-title is-active"><a href="#tab1" aria-selected="true">
{{ items.0.content['#paragraph'].field_title.value }}
</a></li>
                        <li class="tabs-title"><a href="#tab2">
{{ items.1.content['#paragraph'].field_title.value }}
</a></li>
                        <li class="tabs-title"><a href="#tab3">
{{ items.2.content['#paragraph'].field_title.value }}
</a></li>
                        <li class="tabs-title"><a href="#tab4">
{{ items.3.content['#paragraph'].field_title.value }}
</a></li>
                        <li class="tabs-title"><a href="#tab5">
{{ items.4.content['#paragraph'].field_title.value }}
</a></li>
                </ul>

        <div class="tabs-content" data-tabs-content="collapsing-tabs">
            <div class="tabs-panel is-active" id="tab1">
{{ items.0.content['#paragraph'].field_search_code.value|raw }}
            </div>
            <div class="tabs-panel" id="tab2">
{{ items.1.content['#paragraph'].field_search_code.value|raw }}
           </div>
            <div class="tabs-panel" id="tab3">
{{ items.2.content['#paragraph'].field_search_code.value|raw }}
           </div>
            <div class="tabs-panel" id="tab4">
{{ items.3.content['#paragraph'].field_search_code.value|raw }}
           </div>
            <div class="tabs-panel" id="tab5">
{{ items.4.content['#paragraph'].field_search_code.value|raw }}
           </div>
        </div>
    </div>
</div>


