{#{{dd(content)}}#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('roblib_2023/node') }}
<article{{ attributes.addClass(classes) }}>
  <div{{ content_attributes.addClass('node__content') }}>

    {{ content.field_search_tabs }}
    <div class="lp-button-group">
      {{ content.field_navigation_button_group }}
    </div>
    <section class="help-me">

      <div class="left">
        {{ content.field__help_me_section_title }}
        {{ content.field_subject_librarians }}
      </div>
      <div class="right">
        <div class="lp-askus-block">

          <!-- Place this div in your web page where you want your chat widget to appear. -->
          <div class="needs-js">
            <div class="dummy-widget">
              <h3>Library Ask Us</h3>

              <div class="textout window">JavaScript disabled or chat unavailable.</div>

              <div class="textin window">Chat Is Unavailable</div>
            </div>
          </div>
          <!-- Place this script as near to the end of your BODY as possible. --><script type="text/javascript">
            (function() {
              var x = document.createElement("script"); x.type = "text/javascript"; x.async = true;
              x.src = (document.location.protocol === "https:" ? "https://" : "http://") + "ca.libraryh3lp.com/js/libraryh3lp.js?5343";
              var y = document.getElementsByTagName("script")[0]; y.parentNode.insertBefore(x, y);
            })();
          </script>



        </div>
        <section class="helpme-text-block">
          {{ content.field__help_me_text_block}}
        </section>
      </div>
    </section>
        <section class="news">
          {{ drupal_view('landing_page_news_blocks', 'block') }}
        </section>
  </div>
</article>


